spring:
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://49.50.130.177:3306/its_web
    username: ENC(CYZd3f9hnpJww0aFmG4xdA==)
    password: ENC(7lrzYyAWRIr+UiFKxdvOBAlr478A5fyJ)
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
  web:
    resources:
      cache:
        period: 0
      chain:
        cache: false
      static-locations: file:./src/main/resources/static/,classpath:/static/