spring:
  thymeleaf:
    cache: false
    prefix: file:./src/main/resources/templates/
    suffix: .html
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://localhost:3306/its_web
    username: its_web
    password: its_web
  jpa:
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
#        format_sql: true
#        use_sql_comments: true
  sql:
    init:
      mode: never
      data-locations: classpath:init.sql
  web:
    resources:
      cache:
        period: 0
      chain:
        cache: false
      static-locations: file:./src/main/resources/static/,classpath:/static/
