<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/admin-layout}"
  th:with="pageData='admin-list'">

<head>
  <title>ITSConvergence 관리자</title>
</head>

<body>
  <div layout:fragment="page-content">
    <div class="table-wrap">
      <table>
        <thead id="dataTableHead"></thead>
        <tbody id="dataTableBody"></tbody>
      </table>
    </div>
    <th:block th:replace="~{fragments/pagination :: adminPagination}"></th:block>
  </div>

  <th:block layout:fragment="scripts">
    <script src="/js/admin_list.js"></script>
  </th:block>
</body>
</html>
