<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin/layouts/admin-layout}"
  th:with="pageData='history'">

<head>
  <title>ITSConvergence 관리자</title>

  <link rel="stylesheet" th:href="@{/admin/css/history/history.css}" />
</head>

<body>
  <div class="dashboard-content" layout:fragment="page-content">
    <h3 id="pageTitleMain">연혁 관리<span>연혁을 추가/수정 관리합니다.</span></h3>
    <div class="divider"></div>

    <div class="table-wrap">
      <table>
        <thead id="dataTableHead"></thead>
        <tbody id="dataTableBody"></tbody>
      </table>
    </div>

    <div class="pagination">
      <div class="action-area">
        <button type="button" id="tableActionBtn" class="add-btn">
          <span class="icon"><img src="/asset/img/plus.gif" alt="" /></span>
          연혁 추가
        </button>
      </div>
    </div>

    <!-- 수정 Modal -->
    <div id="historyEditModal" class="modal-backdrop" aria-hidden="true">
      <div class="modal" role="dialog" aria-modal="true" aria-labelledby="historyEditModalTitle">
          <div class="modal-header">
              <h3 class="modal-title"></h3>
              <button type="button" class="modal-close js-modal-close" aria-label="close">x</button>
          </div>
          <div class="modal-body modal-type-table">
              <table>
                <tbody>
                  <tr>
                    <td class="td-label">시작구간</td>
                    <td class="td-input">
                      <input type="text" id="startPeriod"/>
                    </td>
                  </tr>
                  <tr>
                    <td class="td-label">종료구간</td>
                    <td class="td-input">
                      <input type="text" id="endPeriod"/>
                    </td>
                  </tr>
                </tbody>
              </table>
          </div>
          <div class="modal-footer">
              <button id="btnConfirmModify" type="button" class="h18 red_s js-modal-submit">수정완료</button>
              <button type="button" class="h18 blue_s js-modal-close">닫기</button>
          </div>
      </div>
    </div>
  </div>


  <th:block layout:fragment="scripts">
    <script th:src="@{/admin/js/history/history.js}"></script>
    <script th:src="@{/admin/js/history/history.crud.js}"></script>
  </th:block>
</body>
</html>
