<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin/layouts/admin-layout}"
  th:with="pageData='year_list'">

<head>
  <title>ITSConvergence 관리자</title>
</head>

<body>
  <div layout:fragment="page-content">
    <div class="table-wrap">
      <table>
        <thead id="dataTableHead"></thead>
        <tbody id="dataTableBody"></tbody>
      </table>
    </div>

    <div class="pagination">
      <div class="action-area">
        <button type="button" id="tableActionBtn" class="add-btn">
          <span class="icon"><img src="/asset/img/plus.gif" alt="" /></span>
          관리자등록
        </button>
      </div>
    </div>
  </div>

  <th:block layout:fragment="scripts">
  </th:block>
</body>
</html>
