* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: NotoKR, 'Noto Sans KR', sans-serif;
    color: #333;
    font-weight: 200;
}

a {
    text-decoration: none;
    color: inherit;
}

a:link,
a:visited,
a:hover,
a:active,
a:focus {
    text-decoration: none !important;
}

img {
    display: block;
    margin: 0;
    border: none;
}

ul {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    unicode-bidi: isolate;
    list-style: none;
}

#sub-wrap {
    padding-bottom: 110px;
}

.container {
    width: 1540px;
    max-width: 1540px;
    margin: 0 auto;
    padding: 0;
}

header {
    background-color: #fff;
    border-bottom: 1px solid #f0f0f0;
}

.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 105px;
    width: 1540px;
    margin: 0 auto;
    padding: 0;
}

.logo {
    font-size: 32px;
    font-weight: 900;
    color: #1a1a1a;
    letter-spacing: -1.5px;
}

.logo span {
    color: #1c52b9;
}

.logo img {
    width: 105px;
    height: 55px;
    object-fit: contain;
}

.main-nav {
    display: flex;
    gap: 30px;
    padding: 0 0 0 50px;
}

.main-nav li {
    height: 105px;
    display: flex;
    align-items: center;
}

.main-nav a {
    font-size: 16px;
    color: #333333;
    font-weight: 500;
}

.hero {
    position: relative;
    height: 390px;
    background-image: url('/asset/img/sv1.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    padding: 0 0 70px;
}

.hero-content { position: relative; z-index: 2; }

.hero-content h1 {
    font-size: 55px;
    font-weight: 500;
    margin: 0 0 7px;
    color: #fff;
    font-family: Arial, sans-serif;
}

.hero-desc {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 500;
    margin: 0;
}

.ul-square {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}

.top1 ul li {
    float: left;
    width: 48%;
}

.ul-square li {
    display: block;
    margin: 0 0 7px 10px;
    line-height: 24px;
    font-size: 15px;
    color: #555555;
    letter-spacing: -1px;
    font-weight: 400;
    position: relative;
    padding-left: 14px;
}

.ul-square li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 9px;
    width: 3px;
    height: 6px;
    background: url('/asset/img/square.png') no-repeat left center;
    background-size: 3px 6px;
    pointer-events: none;
}

.top1 ul li p {
    font-size: 15px;
    color: #555555;
    letter-spacing: -1px;
    font-weight: 400;
    margin: 0;
    line-height: 24px;
}

.con1-text {
    padding-top: 20px;
}

.context1 {
    display: inline-block;
    vertical-align: top;
    padding-left: 80px;
    width: 496px;
}

.context2 {
    display: inline-block;
    vertical-align: top;
    padding-left: 80px;
    max-width: 415px;
}

.context2 .btn {
    margin-top: 20px;
}

.context1 .t-ver {
    margin-top: 45px;
    display: inline-block;
}

.btn,
.context2 a.btn {
    display: inline-block;
    vertical-align: middle;
    width: 238px;
    height: 58px;
    line-height: 58px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #333;
}

.btn-download {
    font-size: 16px;
    color: #333;
    font-weight: 400;
    letter-spacing: -0.04em;
}

a:link, a:hover, a:visited, a:active {
    letter-spacing: -0.04em;
    color: #333;
    text-decoration: none;
}

.sub-tab-area {
    position: relative;
    z-index: 10;
    margin: -69px auto 51px;
    width: 100%;
    max-width: none;
    padding: 0;
    background-color: #fff;
    height: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-tab-area .contents {
    width: 100%;
    display: flex;
    justify-content: center;
}

.contents {
    clear: both;
    margin: auto;
    max-width: 1420px;
}

.sub-tab-list {
    display: flex;
    width: 1420px;
}

.sub-tab-list li {
    width: 355px;
    height: 69px;
    border-bottom: 1px solid #e5e5e5;
}

.sub-tab-list li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 69px;
    line-height: 69px;
    font-size: 17px;
    font-weight: 500;
    color: #777777;
    transition: color 0.3s;
    text-decoration: none;
}

.sub-tab-list li a::before,
.sub-tab-list li a::after {
    content: none !important;
    background: none !important;
    border: none !important;
    height: 0 !important;
    width: 0 !important;
    display: none !important;
}

.sub-tab-list li a:hover::before,
.sub-tab-list li a:hover::after,
.sub-tab-list li a:focus::before,
.sub-tab-list li a:focus::after {
    content: none !important;
    background: none !important;
    border: none !important;
    height: 0 !important;
    width: 0 !important;
    display: none !important;
}

.sub-tab-list li a:focus {
    color: #777777;
}

.sub-tab-list li a:hover {
    color: #184e97;
}

.sub-tab-list li:hover {
    border-bottom: 2px solid #184e97;
}

.sub-tab-list li:hover a {
    font-size: 17px;
    color: #184e97;
    font-weight: 500;
}

.sub-tit {
    margin-bottom: 15px;
    font-size: 32px;
    color: #184e97;
    font-weight: 500;
}

.sub-tit + strong {
    display: block;
    margin: -7px 0 10px;
    font-size: 20px;
    color: #333333;
    font-weight: 500;
}

.contents p {
    margin: 11.5px 0;
    line-height: 24px;
    font-size: 15px;
    color: #555555;
    letter-spacing: -0.8px;
    font-weight: 400;
}

.pic.top1 {
    margin-top: 40px;
}

.top1 .f-left {
    width: 50%;
}

.top1 .f-left:last-child {
    padding: 35px 0 0 60px;
}

.f-left {
    float: left;
}

.pic.top1 .float {
    overflow: hidden;
}

.pic.top1 .f-left img {
    width: 100%;
    height: auto;
    display: block;
}

.circle-tit {
    display: block;
    margin-bottom: 10px;
    padding-left: 27px;
    font-size: 18px;
    color: #333333;
    font-weight: 500;
    background: url('/asset/img/circle.png') no-repeat left center;
}

.pic.top1 .f-left .ul-square {
    margin-top: 0;
}

.d-line {
    clear: both;
    margin: 100px auto;
    width: 1420px;
    height: 1px;
    background: #e5e5e5;
}

.brand-wrap {
    margin: 34px 0 0;
}

.brand-list {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    overflow: hidden;
    text-align: left;
}

.brand-list li {
    float: left;
    width: 20%;
    margin-top: 30px;
}

.brand-list li:first-child, 
.brand-list li:nth-child(2), 
.brand-list li:nth-child(3), 
.brand-list li:nth-child(4), 
.brand-list li:nth-child(5) {
    margin-top: 0;
}

.brand-list a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 260px;
    height: 100px;
    border: 1px solid #f0f0f0;
    box-sizing: border-box;
    margin: 0;
}

.brand-list img {
    width: 260px;
    height: 100px;
    object-fit: contain;
    margin: 0;
    display: block;
    border: none;
    padding: 0;
}

.tab-menu-wrap {
    margin-top: 20px;
}

.tab-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    list-style: none;
}

.l-5 li {
    width: 20%;
}

.tab-menu button {
    width: 100%;
    height: 54px;
    position: relative;
    overflow: hidden;
    color: #555555;
    background: #f5f5f5;
    border: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    text-wrap: nowrap;
}

.tab-menu li:last-child button {
    border-right: 1px solid #cccccc;
}

.tab-menu li button[aria-pressed="true"] {
    color: #fff;
    font-weight: 500;
    background: #184e97;
    border: 1px solid #184e97;
}

.tab-menu li button[aria-pressed="false"] {
    overflow: hidden;
    position: relative;
    color: #555555;
    background: #f5f5f5;
    border: 1px solid #cccccc;
}

.tab-menu button:focus {
    outline: none;
}

.tab-contents {
    clear: both;
    padding-top: 40px;
}

.tab-contents .clearfix {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.tab-contents .con1 {
    overflow: hidden;
}

.tab-contents .con1 .float::after {
    content: "";
    display: block;
    clear: both;
}

.tab-contents .clearfix > li {
    display: none;
}

.tab-contents .clearfix > li.active {
    display: block;
}

.btn-border {
    border: 1px solid #cccccc;
}

.btn-download i {
    display: inline-block;
    vertical-align: -2px;
    margin-right: 9px;
    width: 18px;
    height: 17px;
    background: url('/asset/img/btn-download.png') no-repeat;
}

.tab-contents > ul > li.active {
    display: block;
}

.scroll-table {
    overflow: hidden;
}

.scroll-table-wrap {
    overflow-x: auto;
}

.scroll-table .table {
    width: 100%;
    border-top: 2px solid #184e97;
    border-collapse: collapse;
}

.scroll-table-wrap table {
    min-width: 800px;
}

table.table th:first-child {
    border-left: none;
}

table.table th {
    font-family: inherit;
    padding: 22px 15px;
    font-size: 16px;
    color: #555555;
    font-weight: 500;
    border-left: 1px solid #e5e5e5;
}

table.table td {
    font-family: inherit;
    padding: 19px 15px;
    text-align: center;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 400;
    color: #555555;
    border-right: 1px solid #e5e5e5;
}

table.table td:last-child {
    border-right: none;
}

table.table th:last-child {
    border-right: none;
}

table.table tr {
    border-bottom: 1px solid #e5e5e5;
}

.footer {
    padding: 37px 0;
    width: 100%;
    background: #222222;
}

.footer-container {
    margin: auto;
    max-width: 1510px;
}

.f-info {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.f-info li {
    float: left;
    padding: 0 15px;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.6);
}

.footer .f-info li span {
    font-weight: 500;
}

.copyright {
    margin-top: 15px;
    padding: 0 15px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.3);
    font-weight: 400;
    font-style: normal;
}
