<div th:fragment="adminPagination">
  <div class="pagination">
    <div class="pagination-controls">
      <button type="button" class="page-arrow page-arrow-l2">
        <span class="sr-only">맨 앞 페이지</span>
      </button>
      <button type="button" class="page-arrow page-arrow-l1">
        <span class="sr-only">이전 페이지</span>
      </button>
      <span class="page-current-box">
        <button type="button" class="page-current">1</button>
      </span>
      <button type="button" class="page-arrow page-arrow-r1">
        <span class="sr-only">다음 페이지</span>
      </button>
      <button type="button" class="page-arrow page-arrow-r2">
        <span class="sr-only">맨 뒤 페이지</span>
      </button>
    </div>
  </div>
</div>
