<th:block th:fragment="resources" xmlns:th="http://www.thymeleaf.org">
	<!-- jQuery 플러그인/유틸 -->
    <script th:src="@{/component/jquery/jquery-3.7.1.min.js}"></script>
	<script th:src="@{/component/jquery/jquery-i18n/jquery.i18n.properties.js}"></script>
    <script th:src="@{/component/jquery/placeholders.jquery.min.js}" defer></script>
	<script th:src="@{/component/jquery/jquery-ui/jquery-ui.min.custom.js}"></script>
	<script th:src="@{/component/jquery/jquery-form/jquery.form.min.js}" defer></script>
	<script th:src="@{/component/jquery/jquery-form/jquery.MetaData.js}" defer></script>
	<script th:src="@{/component/jquery/jquery-form/jquery.MultiFile.min.js}" defer></script>
	<script th:src="@{/component/jquery/jquery-ui/jquery-ui.multidatespicker.js}" defer></script>
	<script th:src="@{/component/jquery/jquery-tree/jquery.treeview.js}" defer></script>
	
	<link rel="stylesheet" th:href="@{/component/jquery/jquery-ui/jquery-ui.min.custom.css}">
	<link rel="stylesheet" th:href="@{/component/jquery/jquery-ui/jquery-ui.multidatespicker.css}">
	<link rel="stylesheet" th:href="@{/component/jquery/jquery-tree/jquery.treeview.css}">
</th:block>